name: Zip Release

on:
  release:
    types: [published]

jobs:
  release:
    name: EliteCloud release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create Zip
        run: |
          zip -r elitecloud.zip ./custom_components/elitecloud/

      - name: Upload Zip to Release
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: elitecloud.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
